{% extends 'base.html' %} {% block removesidebar %}
      <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="{{object.article_image.url}}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">{{object.title}}</h1>
        <p class="lead">{{object.description}}</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        </div>
        <strong class="d-inline-block mb-0 text">
        By -
        <a href="{% url 'user-detail-view' object.author.id %}" style="text-decoration:none"> {{object.author.username}}</a><br>
        on {{object.date_posted|date:'d,M'}}
        </strong>
      </div>
    </div>
    {% if object.author == user %}
        <a href="{% url 'blog-update-view' object.id %}" type="button" class="btn btn-outline-secondary col-2">Edit</a>
    <a href="{% url 'blog-delete-view' object.id %}" type="button" class="btn btn-outline-warning col-2">Delete</a>
    {% else %}
    {% endif %}
  </div>
{% endblock removesidebar %}
